# -------------------------
# Verilator / Simulation
# -------------------------
obj_dir/
*.vcd
*.log

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
*.swp

# -------------------------
# OS junk
# -------------------------
.DS_Store
